# Introduction to Python
# Module 2 - Python Basics Part 1

Instructor: Suyong Song

## Exercises - Strings

In [1]:
s = "I'm learning the Python programming language."

1\. Get the type of `s`.

In [2]:
# Your answer here
type(s)

str

2\. Get the first character in `s`.

In [3]:
# Your answer here
s[0]

'I'

3\. Get the last character in `s`.

In [4]:
# Your answer here
s[-1]

'.'

4\. Get the first 3 characters in `s`.

In [5]:
# Your answer here
s[:3]

"I'm"

5\. Get the last 9 characters in `s`.

In [6]:
# Your answer here
s[-9:]

'language.'

6\. Get only the '<i>Python</i>' part in `s`. (Hint: use string slicing.)

In [7]:
# Your answer here
s[17:23]

'Python'

7\. Get the reversed version of `s`.

In [8]:
# Your answer here
s[::-1]

".egaugnal gnimmargorp nohtyP eht gninrael m'I"

8\. Get the reversed version of the substring '<i>Python</i>' in `s`.

In [9]:
# Your answer here
s[17:23][::-1]

'nohtyP'

9\. Check if the substring '<i>Python</i>' is in `s`.

In [11]:
# Your answer here (using the in operator). The expected output is True.
'Python' in s

True

In [12]:
# Your answer here (using the find method). The expected output is 17.
s.find("Python")

17

In [13]:
# Your answer here (using the index method). The expected output is 17
s.index("Python")

17

10\. Get the lower-case version of `s`.

In [17]:
# Your answer here
s.lower()

"i'm learning the python programming language."

11\. Count the number of <i>in</i>'s in `s`.

In [18]:
# Your answer here
s.count("in")

2

12\. Remove all whitespaces in `s`. (Hint: use the <b>replace</b> method.)

In [19]:
# Your answer here
s.replace(" ","")

"I'mlearningthePythonprogramminglanguage."

13\. Using dot notation, remove the trailing period in `s` and then split it into a list of words using space as the separator.

In [20]:
# Your answer here
s.rstrip(".").split() #split은 space separator가 default

["I'm", 'learning', 'the', 'Python', 'programming', 'language']

14\. Join all names in the list `names` using a comma as separator.

In [21]:
names = ["Alice", "Bob", "Tom"]

In [23]:
# Your answer here
", ".join(names)

'Alice, Bob, Tom'

15\. Print the sentence "<i>I've been learning Python Data Programming for 2 weeks.</i>" by embedding the values of `subject` and `weeks` below using the <b>format</b> method of strings.

In [24]:
subject = "Python Data Programming"
weeks = 2

In [25]:
# Your answer here
print("I've been learning {} for {} weeks.".format(subject, weeks))

I've been learning Python Data Programming for 2 weeks.

## Exercises - Lists

1\. Create an empty list named `animals`.

In [9]:
# Your answer here
animals = []     # Alternatively, animals = list()

2\. Append a new element '*dog*' to `animals`.

In [10]:
# Your answer here
animals.append("dog")
animals

['dog']

3\. Append new elements '*cat*', '*bird*', '*tiger*', '*lion*', and '*fox*' to `animals`.

In [11]:
# Your answer here
animals.append("cat")
animals.append("bird")
animals.append("tiger")
animals.append("lion")
animals.append("fox")
animals

['dog', 'cat', 'bird', 'tiger', 'lion', 'fox']

4\. Check if '*elephant*' is in `animals`. The output must be either True or False.

In [12]:
# Your answer here
"elephant" in animals

False

5\. Get the number of elements in `animals`.

In [13]:
# Your answer here
len(animals)

6

6\. Get the first 3 items in `animals`.

In [15]:
# Your answer here
animals[:3]

['dog', 'cat', 'bird']

7\. Get a new reversed list of `animals`.

In [16]:
# Your answer here
list(reversed(animals))

['fox', 'lion', 'tiger', 'bird', 'cat', 'dog']

8\. Get a new sorted list of `animals` in descending alphabetical order.

In [19]:
# Your answer here
sorted(animals, reverse = True)

['tiger', 'lion', 'fox', 'dog', 'cat', 'bird']

## Exercises - Tuples

1\. Manually create a list `family` of tuples, each of which contains the first name of your family member and their hobby.

In [26]:
# Your answer here
family = [("Summer", "tech"), ("DJ", "watching movies"), ("Jayden", "Lego")]
family

[('Summer', 'tech'), ('DJ', 'watching movies'), ('Jayden', 'Lego')]

2\. Get the first tuple, or family member, in `family`.

In [27]:
# Your answer here
family[0]

('Summer', 'tech')

3\. Get the first name of the first family member in `family`.

In [28]:
# Your answer here
family[0][0]

'Summer'

4\. Get the hobby of the last family member in `family`.

In [29]:
# Your answer here
family[-1][1]

'Lego'

## Exercises - Dictionaries

1\. Manually create a dictionary named `family_hobbies` with the first names of your family members being the keys and their hobbies being the values. In other words, if you look up the first name in the dictionary, it should return their hobby.

In [22]:
# Your answer here
family_hobbies = {"Summer": "tech", "DJ": "watching movies", "Jayden": "Lego"}
family_hobbies

{'Summer': 'tech', 'DJ': 'watching movies', 'Jayden': 'Lego'}

2\. Check if the key '*Spiderman*' is in `family_hobbies`. The output must be either True or False.

In [23]:
# Your answer here
"Spiderman" in family_hobbies

False

3\. Add a new name-hobby pair ('*Spiderman*', '*saving people*') to `family_hobbies`.

In [25]:
# Your answer here
family_hobbies["Spiderman"] = "saving people"
family_hobbies

{'Summer': 'tech',
 'DJ': 'watching movies',
 'Jayden': 'Lego',
 'Spiderman': 'saving people'}

4\. Get the hobby of *Spiderman* from `family_hobbies`.

In [26]:
# Your answer here
family_hobbies["Spiderman"]

'saving people'

## Exercises - Sets

1\. Manually create a set `s1` of even numbers between 1 and 20.

In [21]:
# Your answer here
s1 = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
s1

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

2\. Manually create a set `s2` of multiples of 3 between 1 and 20.

In [23]:
# Your answer here
s2 = {3, 6, 9, 12, 15, 18}
s2

{3, 6, 9, 12, 15, 18}

3\. Get the union of `s1` and `s2`.

In [24]:
# Your answer here
s1 & s2

{6, 12, 18}

4\. Get the intersection of `s1` and `s2`.

In [25]:
# Your answer here
s1 | s2

{2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20}

## Exercises - Built-in Functions

1\. Check if all items in `l` is True. The output must be either True or False.

In [1]:
l = [True, True, True, True, True, True, True, True, True, True, False, True, True, True, True]

In [2]:
# Your answer here
all(l)

False

2\. Check if any item in `l` is True. The output must be either True or False.

In [3]:
l = [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

In [5]:
# Your answer here
any(l)

False

3\. Get the min value in `l`.

In [12]:
l = [5, 13, 76, 9, 93, 28, 49, 76, 9, 88]

In [13]:
# Your answer here
min(l)

5

4\. Get the max value in `l`.

In [15]:
# Your answer here
max(l)

93

5\. Get the sum of all values in `l`.

In [16]:
# Your answer here
sum(l)

446

6\. Generate a list of all two-digit integers. (Two-digit intergers range from 10 to 99.)

In [17]:
# Your answer here
list(range(10,100))

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

7\. Generate a list of all two-digit even integers.

In [18]:
# Your answer here
list(range(10,100,2))

[10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

8\. Get the value of 2 to the power of 10.

In [19]:
# Your answer here
2**10

1024

9\. Get the number of 0.333333333333 rounded to 2 precision.

In [20]:
# Your answer here
round(0.333333333333, 2)

0.33