# Introduction to Python
# Module 3 - Python Basics Part 2

Instructor: Suyong Song

## Exercises for Branches

In [1]:
x, y = 3, 5

1\. Write an <b>if</b> statement that prints "*Integer*" if `x` is an integer, "*Float*" if `x` is a floating point number, "*Complex*" if `x` is a complex number, and "*Not a number*" otherwise. Use the <b>type</b> function to check the type of a variable.

In [2]:
# Your answer here
if type(x) == int:
    print("Integer")
elif type(x) == float:
    print("Float")
elif type(x) == complex:
    print("Complex")
else:
    print("Not a number")

Integer

2\. Write an <b>if</b> statement that prints "*Even*" if `x` is an even number and "*Odd*" if `x` is an odd number. In order to check if a number is either even or odd, divide it by 2 and if the remainder is 0, you can say it is even, otherwise, it is odd. Use the % operator to get the remainder of a division.

In [3]:
# Your answer here
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

3\. Write an <b>if</b> statement that prints "*x is greater than y.*" if `x` is greater than `y`, "*x is less than y.*" if `x` is less than `y`, and "*x equals y.*" otherwise.

In [4]:
# Your answer here
if x > y:
    print("x is greater than y.")
if x < y:
    print("x is less than y.")
else:
    print("x equals y.")

x is less than y.

## Exercises for For Loops

1\. Write a <b>for</b> loop that prints all integers from 1 to 100, separated by a tab. Use the <b>range</b> function to generate numbers.

In [5]:
# Your answer here
for num in range(1, 101):
    print(num, end="\t")

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

2\. Write a <b>for</b> loop that prints all characters in the string `s` below, separated by a tab.

In [1]:
s = "abcdefghijklmnopqrstuvwxyz"

In [2]:
# Your answer here
for c in s:
    print(c, end='\t')

a	b	c	d	e	f	g	h	i	j	k	l	m	n	o	p	q	r	s	t	u	v	w	x	y	z

3\. Write a <b>for</b> loop that prints the same as above, but this time using the index of `s`.

In [3]:
# Your answer here
for i in range(len(s)):
    c = s[i]
    print(c, end="\t")

a	b	c	d	e	f	g	h	i	j	k	l	m	n	o	p	q	r	s	t	u	v	w	x	y	z

4\. Write a <b>for</b> loop that prints the same as above, except that the letters at odd index positions are printed in upper case, while the other letters are printed as they are.

In [5]:
# Your answer here
for c in range(len(s)):
    if c % 2 == 1:
        print(s[c].upper(), end = '\t')
    else:
        print(s[c], end = '\t')

a	B	c	D	e	F	g	H	i	J	k	L	m	N	o	P	q	R	s	T	u	V	w	X	y	Z

5\. Write a <b>for</b> loop that prints "NAME is SEX and aged AGE." for each tuple in `employees`, separated by a new line, where NAME is the first value in each tuple, SEX the second, and AGE the third. For example, the first line in the output should look as follows:

Alice is female and aged 30.

In [6]:
employees = [("Alice", 30, "female"), ("Bob", 25, "male"), ("Tom", 34, "male")]

In [7]:
# Your answer here
for i in employees:
    print("{} is {} and aged {}.".format(i[0], i[2], i[1]))

Alice is female and aged 30.
Bob is male and aged 25.
Tom is male and aged 34.

6\. Write a <b>for</b> loop that prints "ABBREVIATION is the abbreviation for FULLNAME." for each key-value pair in the dictionary `states`, separated by a new line, where ABBREVIATION is the key in `states` and FULLNAME the value. For example, the first line in the output should look as follows:

IA is the abbreviation for Iowa.

In [8]:
states = {"IA": "Iowa", "IL": "Illinois", "MN": "Minnesota", "NE": "Nebraska", "WI": "Wisconsin"}

In [9]:
# Your answer here
for i in states:
    print("{} is the abbrevation for {}.".format(i, states[i]))

IA is the abbrevation for Iowa.
IL is the abbrevation for Illinois.
MN is the abbrevation for Minnesota.
NE is the abbrevation for Nebraska.
WI is the abbrevation for Wisconsin.

7\. Write a <b>for</b> loop that prints all names in the list `names` in uppercase, separated by a new line.

In [10]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [11]:
# Your answer here
for i in names:
    print(i.upper(), end = "\n")

ALICE
BOB
MARY
SAM
SARAH
TOM

8\. Write a <b>for</b> loop that prints the first two characters of each name in `names` in lowercase, separated by a new line.

In [12]:
# Your answer here
for i in names:
    print(i[:2].lower(), end = "\n")

al
bo
ma
sa
sa
to

9\. Write a <b>for</b> loop that prints only the names in `names` that are three letters long, separated by a new line.

In [13]:
# Your answer here
for i in names:
    if len(i) == 3:
        print(i, end = "\n")

Bob
Sam
Tom

10\. Write a <b>for</b> loop that prints only the names in `names` that end with either *m* or *y*, separated by a new line.

In [14]:
# Your answer here
for i in names:
    if (i[-1] == "m") or (i[-1] == "y"):
        print(i, end = "\n")

Mary
Sam
Tom

11\. Write a nested <b>for</b> loop that prints "NAME1 & NAME2", where NAME1 and NAME2 are the elements in `men` and `women`, respectively. Each pair of names should be printed separated by a new line. For example, the first 4 lines in the output should look as follows:

Bob & Alice
Bob & Mary
Bob & Sarah
Sam & Alice

In [15]:
men = ["Bob", "Sam", "Tom"]
women = ["Alice", "Mary", "Sarah"]

In [17]:
# Your answer here
for m in men:
    for w in women:
        print("{} & {}".format(m,w), end = "\n")

Bob & Alice
Bob & Mary
Bob & Sarah
Sam & Alice
Sam & Mary
Sam & Sarah
Tom & Alice
Tom & Mary
Tom & Sarah

12\. Write a <b>for</b> loop using the <b>zip</b> function that prints "NAME1 & NAME2", where NAME1 and NAME2 are the elements in `men` and `women`, respectively, that are at the same position. Each pair of names should be printed separated by a new line. It should be printed as follows:

Bob & Alice
Sam & Mary
Tom & Sarah

In [18]:
# Your answer here
for m,w in zip(men, women):
    print("{} & {}".format(m,w))

Bob & Alice
Sam & Mary
Tom & Sarah

13\. The variable `l` has all odd numbers from 1 to 999. Write a <b>for</b> loop that adds all numbers in `l` one after another. Print the final sum after the <b>for</b> loop.

In [19]:
l = range(1, 1000, 2)

In [20]:
# Your answer here
all = 0
for i in l:
     all += i
    
print(all)

250000

14\. Check if the result from the <b>for</b> loop matches the result from the built-in <b>sum</b> function. The outcome must be either True or False.

In [22]:
# Your answer here
all == sum(l)

True

15\. Write a <b>for</b> loop that adds all numbers in `l` one after another, printing the intermediate sum for every iteration along with its index position. Print the final sum after the <b>for</b> loop. The first and last 5 lines in the output should look as follows:

[0] 1
[1] 4
[2] 9
[3] 16
[4] 25

[496] 247009
[497] 248004
[498] 249001
[499] 250000
250000

In [23]:
# Your answer here
sum = 0
for i in l:
    sum += i
    print(sum)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000
10201
10404
10609
10816
11025
11236
11449
11664
11881
12100
12321
12544
12769
12996
13225
13456
13689
13924
14161
14400
14641
14884
15129
15376
15625
15876
16129
16384
16641
16900
17161
17424
17689
17956
18225
18496
18769
19044
19321
19600
19881
20164
20449
20736
21025
21316
21609
21904
22201
22500
22801
23104
23409
23716
24025
24336
24649
24964
25281
25600
25921
26244
26569
26896
27225
27556
27889
28224
28561
28900
29241
29584
29929
30276
30625
30976
31329
31684
32041
32400
32761
33124
33489
33856
34225
34596
34969
35344
35721
36100
36481
36864
37249
37636
38025
38416
38809
39204
39601
40000
40401
40804
41209
41616
42025
42436
42849
43264
43681
44100
44521
44944
45369
45796
46225
46656
47089
47524
47961
48400
48841
49284
49729
50176
50625
51076
51529
51984
52441
52900
53361
53824
54289
54756
55225
55696
56169
56644
57121
57600
58081
58564
59049
59536
60025
60516
61009
61504
62001
62500
63001
63504
64009
64516
65025
65536
66049
66564
67081
67600
68121
68644
69169
69696
70225
70756
71289
71824
72361
72900
73441
73984
74529
75076
75625
76176
76729
77284
77841
78400
78961
79524
80089
80656
81225
81796
82369
82944
83521
84100
84681
85264
85849
86436
87025
87616
88209
88804
89401
90000
90601
91204
91809
92416
93025
93636
94249
94864
95481
96100
96721
97344
97969
98596
99225
99856
100489
101124
101761
102400
103041
103684
104329
104976
105625
106276
106929
107584
108241
108900
109561
110224
110889
111556
112225
112896
113569
114244
114921
115600
116281
116964
117649
118336
119025
119716
120409
121104
121801
122500
123201
123904
124609
125316
126025
126736
127449
128164
128881
129600
130321
131044
131769
132496
133225
133956
134689
135424
136161
136900
137641
138384
139129
139876
140625
141376
142129
142884
143641
144400
145161
145924
146689
147456
148225
148996
149769
150544
151321
152100
152881
153664
154449
155236
156025
156816
157609
158404
159201
160000
160801
161604
162409
163216
164025
164836
165649
166464
167281
168100
168921
169744
170569
171396
172225
173056
173889
174724
175561
176400
177241
178084
178929
179776
180625
181476
182329
183184
184041
184900
185761
186624
187489
188356
189225
190096
190969
191844
192721
193600
194481
195364
196249
197136
198025
198916
199809
200704
201601
202500
203401
204304
205209
206116
207025
207936
208849
209764
210681
211600
212521
213444
214369
215296
216225
217156
218089
219024
219961
220900
221841
222784
223729
224676
225625
226576
227529
228484
229441
230400
231361
232324
233289
234256
235225
236196
237169
238144
239121
240100
241081
242064
243049
244036
245025
246016
247009
248004
249001
250000

16\. Write a <b>for</b> loop that calculates the product of the first 10 numbers in `l`. Print the final product after the <b>for</b> loop.

In [24]:
# Your answer here
sum = 1
for i in l[:10]:
    sum *= i
print(sum)

654729075

## Exercises for List Comprehension

1\. Not using and using list comprehension, create a list `l2` of squares of the numbers in `l1`.

In [5]:
l1 = [1, 2, 3, 4, 5]

In [6]:
# Your answer here NOT using list comprehension
l2 = []
for num in l1:
    l2.append(num ** 2)
    
l2

[1, 4, 9, 16, 25]

In [7]:
# Your answer here USING list comprehension
l2 = [num ** 2 for num in l1]
l2

[1, 4, 9, 16, 25]

2\. Not using and using  list comprehension, create a list `l3` of lists, each of which contains the square and cube of each number in `l1`. For example, the last element in `l3` is [25, 125].

In [9]:
# Your answer here NOT using list comprehension
l3 = []
for num in l1:
    l3.append([num **2, num **3])
l3

[[1, 1], [4, 8], [9, 27], [16, 64], [25, 125]]

In [10]:
# Your answer here using list comprehension
l3 = [[num ** 2, num ** 3] for num in l1]
l3

[[1, 1], [4, 8], [9, 27], [16, 64], [25, 125]]

3\. Using list comprehension, create a list `names2` of the names in `names` in lower case.

In [2]:
names = ["Alice", "Bob", "Tom"]

In [3]:
# Your answer here
names2 = []
for name in names :
    names2.append(name.lower())
    
names2

['alice', 'bob', 'tom']

4\. Using list comprehension, create a list `names3` of tuples, each of which contains each name in `names` and the length of the name. For example, the first element in `names` is ('Alice', 5).

In [4]:
# Your answer here
names3 = []
for name in names:
    names3.append([name, len(name)])
    
names3

[['Alice', 5], ['Bob', 3], ['Tom', 3]]

## Exercises for Break, Continue, and Pass

1\. Write a <b>for</b> loop that prints all names in `names` except for *Mary*. (Use <b>continue</b>.)

In [12]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [13]:
# Your answer here
for name in names:
    if name == "Mary":
        continue
    print(name)

Alice
Bob
Sam
Sarah
Tom

2\. Write a <b>for</b> loop that prints the names in `names` from the beginning but stops when it sees *Mary*.

In [14]:
# Your answer here
for name in names:
    if name == "Mary":
        break
    print(name)

Alice
Bob

3\. Write a <b>for</b> loop that adds all numbers in `l` except for multiples of 5. Print the final sum after the <b>for</b> loop. (Use <b>continue</b>.)

In [5]:
l = range(1, 1001)

In [6]:
# Your answer here
for i in l:
    if i % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99
101
102
103
104
106
107
108
109
111
112
113
114
116
117
118
119
121
122
123
124
126
127
128
129
131
132
133
134
136
137
138
139
141
142
143
144
146
147
148
149
151
152
153
154
156
157
158
159
161
162
163
164
166
167
168
169
171
172
173
174
176
177
178
179
181
182
183
184
186
187
188
189
191
192
193
194
196
197
198
199
201
202
203
204
206
207
208
209
211
212
213
214
216
217
218
219
221
222
223
224
226
227
228
229
231
232
233
234
236
237
238
239
241
242
243
244
246
247
248
249
251
252
253
254
256
257
258
259
261
262
263
264
266
267
268
269
271
272
273
274
276
277
278
279
281
282
283
284
286
287
288
289
291
292
293
294
296
297
298
299
301
302
303
304
306
307
308
309
311
312
313
314
316
317
318
319
321
322
323
324
326
327
328
329
331
332
333
334
336
337
338
339
341
342
343
344
346
347
348
349
351
352
353
354
356
357
358
359
361
362
363
364
366
367
368
369
371
372
373
374
376
377
378
379
381
382
383
384
386
387
388
389
391
392
393
394
396
397
398
399
401
402
403
404
406
407
408
409
411
412
413
414
416
417
418
419
421
422
423
424
426
427
428
429
431
432
433
434
436
437
438
439
441
442
443
444
446
447
448
449
451
452
453
454
456
457
458
459
461
462
463
464
466
467
468
469
471
472
473
474
476
477
478
479
481
482
483
484
486
487
488
489
491
492
493
494
496
497
498
499
501
502
503
504
506
507
508
509
511
512
513
514
516
517
518
519
521
522
523
524
526
527
528
529
531
532
533
534
536
537
538
539
541
542
543
544
546
547
548
549
551
552
553
554
556
557
558
559
561
562
563
564
566
567
568
569
571
572
573
574
576
577
578
579
581
582
583
584
586
587
588
589
591
592
593
594
596
597
598
599
601
602
603
604
606
607
608
609
611
612
613
614
616
617
618
619
621
622
623
624
626
627
628
629
631
632
633
634
636
637
638
639
641
642
643
644
646
647
648
649
651
652
653
654
656
657
658
659
661
662
663
664
666
667
668
669
671
672
673
674
676
677
678
679
681
682
683
684
686
687
688
689
691
692
693
694
696
697
698
699
701
702
703
704
706
707
708
709
711
712
713
714
716
717
718
719
721
722
723
724
726
727
728
729
731
732
733
734
736
737
738
739
741
742
743
744
746
747
748
749
751
752
753
754
756
757
758
759
761
762
763
764
766
767
768
769
771
772
773
774
776
777
778
779
781
782
783
784
786
787
788
789
791
792
793
794
796
797
798
799
801
802
803
804
806
807
808
809
811
812
813
814
816
817
818
819
821
822
823
824
826
827
828
829
831
832
833
834
836
837
838
839
841
842
843
844
846
847
848
849
851
852
853
854
856
857
858
859
861
862
863
864
866
867
868
869
871
872
873
874
876
877
878
879
881
882
883
884
886
887
888
889
891
892
893
894
896
897
898
899
901
902
903
904
906
907
908
909
911
912
913
914
916
917
918
919
921
922
923
924
926
927
928
929
931
932
933
934
936
937
938
939
941
942
943
944
946
947
948
949
951
952
953
954
956
957
958
959
961
962
963
964
966
967
968
969
971
972
973
974
976
977
978
979
981
982
983
984
986
987
988
989
991
992
993
994
996
997
998
999

4\. Write a <b>for</b> loop that adds numbers in `l` from the beginning but stops when the intermediate sum exceeds 1000, printing the current sum and the number last added.

In [7]:
# Your answer here
total = 0 
for i in l:
    total += i
    if total > 1000:
        break
    print(total, i)

1 1
3 2
6 3
10 4
15 5
21 6
28 7
36 8
45 9
55 10
66 11
78 12
91 13
105 14
120 15
136 16
153 17
171 18
190 19
210 20
231 21
253 22
276 23
300 24
325 25
351 26
378 27
406 28
435 29
465 30
496 31
528 32
561 33
595 34
630 35
666 36
703 37
741 38
780 39
820 40
861 41
903 42
946 43
990 44

## Exercises for User-Defined Functions

1\. Write a function `concatenate` that takes two strings `s1` and `s2` as arguments and returns the concatenation of the two strings with a space between them.

In [15]:
# Your answer here
def concatenate(s1, s2):
    return s1 + " " + s2

In [16]:
# Test the function here
concatenate("Learning", "Python")     # Output: 'Learning Python'

'Learning Python'

2\. Write a function `concatenate_all` that takes a list `l` of strings as an argument and returns the concatenation of all strings in `l` with a space between them.

In [17]:
# Your answer here
def concatenate_all(l):
    return " ".join(l)

In [18]:
# Test the function here
concatenate_all(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"])     # Output: 'Python R SAS SPSS Matlab Stata'

'Python R SAS SPSS Matlab Stata'

3\. Write a function `get_min` that takes two numbers `num1` and `num2` as arguments and returns the less value. If the two numbers are equal, it returns either value.

In [8]:
# Your answer here
def get_min(num1, num2):
    return min(num1, num2)

In [9]:
# Test the function here
get_min(3, 5)     # Output: 3

3

In [10]:
# Test the function here
get_min(3, 3)     # Output: 3

3

4\. Write a function `get_min_all` that takes a list `l` of numbers as an argument and returns the least value in `l`. If the two numbers are equal, it returns either value.

In [11]:
# Your answer here
def get_min_all (l):
    return min(l)

In [12]:
# Test the function here
get_min_all([3, 2, 9, 6, 2, 7])     # Output: 2

2

5\. Write a function `get_abs_min_all` that takes a list `l` of numbers as an argument and returns the least absolute value in `l`. If the two numbers are equal, it returns either value.

In [13]:
# Your answer here
def get_abs_min_all(l):
    for i in range(len(l)):
        l[i] = abs(l[i])
    return min(l)

In [14]:
# Test the function here
get_abs_min_all([-3, 5, -9, -6, -2, 7])     # Output: 2

2

6\. Write a function `get_head_tail` that takes a list `l` as an argument and returns the first and last elements in `l`. If `l` has less than 2 elements, it should return "*The input list is too short!*".

In [15]:
# Your answer here
def get_head_tail(l):
    if len(l) <2:
        return "The input list is too short!"
    else:
        return l[0], l[-1]

In [16]:
# Test the function here
get_head_tail(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Output: ('Python', 'Stata').

('Python', 'Stata')

In [17]:
# Test the function here
get_head_tail(["Python"])                                        # Output: 'The input list is too short!'.

'The input list is too short!'

### Adanced Exercises

7\. Write a function `highlight` that takes two strings `s` and `subs` as arguments and returns a new copy of `s` with its substring `subs` highlighted in upper case. If `s` does not contain `subs`, it should return "*No substring!*".

In [18]:
# Your answer here
def highlight(s, subs):
    if subs not in s:
        return "No substring!"
    
    return s.replace(subs, subs.upper())

In [19]:
# Test the function here
highlight("I'm learning Python data analytics.", "Python")       # Output: "I'm learning PYTHON data analytics."

"I'm learning PYTHON data analytics."

In [20]:
# Test the function here
highlight("I'm learning Python data analytics.", "SAS")          # Output: 'No substring!'.

'No substring!'

8\. Write a function *trim_message* that takes a string `message` and two integers `start` and `end` as arguments and returns the substring of `message` that starts at the index position `start` and ends at the index position `end` - 1.

In [21]:
# Your answer here
def trim_message(message, start, end):
    
    return message[start:end]

In [22]:
# Test the function here
trim_message("I'm learning Python data analytics.", 13, 19)      # Output: 'Python'

'Python'

9\. Write a function `trim_message2` that works the same as `trim_message` above. In addition, check inside the function if a) the type of `message` is <b>str</b> and b) the types of `start` and `end` are <b>int</b>. If any of those evaluates to false, return "*Invalid parameter type!*". Check also if a) `start` is greater than or equal to 0, b) `start` is less than `end`, and c) `end` is less than or equal to the length of `message`. If any of those evaluates to false, return "*Invalid parameter value!*".

In [23]:
# Your answer here
def trim_message2(message, start, end):
    if not type(message) == str:
        return "Invalid parameter type!"
    if not type(start) == int:
        return "Invalid parameter type!"
    if not type(end) == int:
        return "Invalid parameter type!"
    if not start >= 0:
        return "Invalid parameter type!"
    if not start < end:
        return "Invalid parameter type!"
    if not end <= len(message):
        return "Invalid parameter type!"
    return message[start:end]

In [24]:
# Test the function here
trim_message2("I'm learning Python data analytics.", 13, 19)     # Output: 'Python'

'Python'

In [25]:
# Test the function here
trim_message2(10000, 13, 19)                                     # Output: 'Invalid parameter type!'

'Invalid parameter type!'

In [26]:
# Test the function here
trim_message2("I'm learning Python data analytics.", -1, 19)     # Output: 'Invalid parameter value!'

'Invalid parameter type!'

In [27]:
# Test the function here
trim_message2("I'm learning Python data analytics.", 13, 10)     # Output: 'Invalid parameter value!'

'Invalid parameter type!'

In [28]:
# Test the function here
trim_message2("I'm learning Python data analytics.", 13, 100)    # Output: 'Invalid parameter value!'

'Invalid parameter type!'

10\. Create a dictionary `kwargs` that sets the parameter values of `message`, `start`, and `end` on your own and then call the function `trim_message2` by passing `kwargs`.

In [29]:
# Your answer here
kwargs = {"message" : "I'm learning Python data analytics.", "start": 13, "end": 19}

In [30]:
# Test the function here
trim_message2(**kwargs)

'Python'

## Exercises for Exceptions

1\. Using <b>if</b>-<b>else</b> statements with no <b>try</b>-<b>except</b> statements, write a function `get_remainder` that takes two numbers `num1` and `num2` as arguments and returns the remainder of `num1` divided by `num2`. It returns "*Zero Division!*" if `num2` (the divisor) equals 0.

In [51]:
# Your answer here
def get_remainder(num1, num2):
    if num2 == 0:
        return "Zero Division!"
    
    return num1 % num2

In [52]:
# Test the function here
get_remainder(10, 3)          # Output: 1

1

In [53]:
# Test the function here
get_remainder(10, 0)          # Output: 'Zero Division!'

'Zero Division!'

2\. Using <b>try</b>-<b>except</b> statements instead of <b>if</b>-<b>else</b> statements, write a function `get_remainder2` that works the same as `get_remainder`. In addition, it returns "*Unexpected Error!*" for all other exceptions.

In [73]:
# Your answer here
def get_remainder2(num1, num2):
    if num2 == 0:
        return "Zero Division!"    
    try:
        return(num1 % num2)
    except:
        return("Unexpected Error!")

In [74]:
# Test the function here
get_remainder2(10, 3)          # Output: 1

1

In [75]:
# Test the function here
get_remainder2(10, 0)          # Output: 'Zero Division!'

'Zero Division!'

In [76]:
# Test the function here
get_remainder2("a", 3)         # Output: 'Unexpected Error!'

'Unexpected Error!'

3\. Using an <b>assert</b> statement instead of <b>try</b>-<b>except</b> statements or <b>if</b>-<b>else</b> statements, write a function `get_remainder3` that works the same as `get_remainder` except that it ruturns an AssertionError printing "*Zero Division!*" if the divisor euqals 0.

In [85]:
# Your answer here
def get_remainder3(num1, num2):
    assert (num2 != 0), "Zero Division!"
    return num1 % num2

In [86]:
# Test the function here
get_remainder3(10, 0)          # Output: AssertionError: Zero Division!

AssertionError: Zero Division!